body {
    font-family: 'Comfortaa', sans-serif;
}
h1 {
    font-family: 'Righteous', sans-serif;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

.navbar, ul, li{
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
}

header{
  font-family: 'Righteous', sans-serif;
  font-weight: normal;
  margin: 0 auto;
}
.navbar, ul, li{
	color: #566C7A;
  padding-top: 4px;
  font-weight: bold;
  font-size: 1.2em;
}
a:link{
		text-decoration: none;
}
a:visited {
    color: #69C4D0;
		text-decoration: none;
}
a:hover {
    color: #EC6515;
		text-decoration: none;
}
a.active {
    color: #2273C8;
		text-decoration: none;
}

#app-auth {
    float: right;
    padding: 4px;
}

#username-input, #password-input, #groupName-input, #groupDescription-input {
    color: #69C4D0;
}

.unkUser {
    margin-bottom: 20px;
}
.knowUser {
    display: none;
}

#all-user-playlists {
  display: block;
}
#all-user-playlists li {
  display: block;
}

#all-playlists-list {
  display: block;
}

#all-playlists-list li {
  display: block;
}
.selectable:hover {
  cursor: pointer;
}
.selected {
  color: red;
}

#addGroupForm > input {
  margin: 1em;
}

#search-results-list li {
  display: block;
  font-size: 1.25em;
  color: #5630f0;
}
.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.2em;
  padding: 4px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#spotify-login-button {
  float: right;
}
