body {
  font-family: 'Comfortaa', sans-serif;
}
h1 {
  font-family: 'Righteous', sans-serif;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}
.playlists {
  display: inline-block;
  margin-left: 200px;
  margin-top: 100px;
  width: 425px;
  height: 225px;
  text-align: left;
  font-size: 24px;
  border: 3px solid darkblue;
  border-radius: 5px;
  overflow: auto;
}
#user_playlists {
  border: none;
  margin-left: 15px;
  margin-top: 15px;
  width: 420px;
  font-size: 24px;
  color: blue;
  overflow: scroll;
}
#fanclub_playlists {
  border: none;
  margin-left: 15px;
  margin-top: 15px;
  width: 420px;
  font-size: 24px;
  color: purple;
  overflow: scroll;
}
#submit_button {
  border: 2px solid red;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 25px;
  margin-top: 15px;
  background-color: lightgreen;
}

.songs {
  display: inline-block;
  width: 450px;
  height: 100px;
  text-align: center;
  border: 1px solid blue;
  overflow: auto;
}
.groups {
  display: inline-block;
  width: 450px;
  height: 100px;
  text-align: center;
  border: 1px solid blue;
  overflow: auto;
}
.navbar, ul, li{
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
}
header{
    font-family: 'Righteous', sans-serif;
    font-weight: normal;
  	margin: 0 auto;
}
.navbar, ul, li{
	color: #56E187;
    padding-top: 4px;
}
a:link{
		text-decoration: none;
}
a:visited {
    color: #69C4D0;
		text-decoration: none;
}
a:hover {
    color: #56E187;
		text-decoration: none;
}
a.active {
    color: #2273C8;
		text-decoration: none;
}
#app-auth {
    float: right;
    padding: 4px;
}
#username-input, #password-input {
        color: #69C4D0;
}
.unkUser {
    margin-bottom: 20px;
}
.knowUser {
    display: none;
}
